<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.originality.com.originality">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 添加快捷方式权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 删除快捷方式权限 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 读取和操作SDcard-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".application.OApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomBackground"
        tools:replace="android:icon, android:theme, android:allowBackup">
        <activity android:name=".ui.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.GuidePageActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.photo.ui.VerticalDisplayPhotoListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".modules.photo.ui.SpaceImageDetailActivity"
            android:theme="@style/IMTheme.Transparent" />
        <activity
            android:name=".modules.photo.ui.SpaceImageDetailActivity1"
            android:theme="@style/IMTheme.Transparent" />
        <activity
            android:name=".modules.photo.ui.SpaceImageDetailActivity2"
            android:theme="@style/IMTheme.Transparent" />
        <activity
            android:name=".modules.photo.ui.HorizontalDisplayPhotoListActivity"
            android:launchMode="singleTask"
            android:theme="@style/IMTheme.Transparent" />
        <activity android:name=".ui.MusicListActivity" />

        <!-- 媒体播放服务类 -->
        <service android:name=".util.media.MediaPlayerService" />

        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
            App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".video.VideoPlayerActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>